# Visual Studio Code # 
.vscode/
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Mongodb files #
# node_typescript_mongodb/data/db/
node_typescript_mongodb/data/db/*
!node_typescript_mongodb/data/db/.lock

# Mac OS #
.DS_Store